.App {
  text-align: center;
}

.App-logo {
  color: blue;
  width: 20px;
  height: 40px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo_pic {
  width: 600px;
  height: 100%;
}

.story_pic {
  width: 700px;
  height: 100%;
}

.flex-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}


._1ceqH ._1lB9c {
  background: #212121;
  position: relative;
}


h1 {
  font-size: 36pt;
  font-family: Helvetica;
}

h2 {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 24pt;
  padding-left: 6em;
  padding-right: 6em;
}

.recorderSettings {
  width: 700px;
  height: 100%;
  
}

.buttonStyle {
  background-color: #282c34;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
  height: 50px;
}